* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Raleway', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: $veryDarkBlue;
  background-image: url('../images/bg-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.5rem;
}

@keyframes slide {
  0% { width: 0.625rem; }
  100% { width: 75%; }
}

@media screen and (min-width: 48rem) {
  body {
  background-image: url('../images/bg-desktop.png');
  background-size: 100vw 50vh;
  background-position: 0 100%;
  }

  .container {
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    margin:0 1.5rem;
  }
}