:root {
	/* Colors */
	--desaturated-red: hsl(0, 36%, 70%);
	--soft-red: hsl(0, 93%, 68%);
	--dark-grayish-red: hsl(0, 6%, 24%);

	/* Gradients */
	--gradient-bg: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
	--gradient-btn: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	background: var(--gradient-bg);
	color: var(--desaturated-red);
	font-family: 'Josefin Sans', sans-serif;
	margin: 0;
	line-height: 1.5;
	min-height: 100vh;
}

.container {
	width: 85%;
	margin: 0 auto;
}

.dark {
	color: var(--dark-grayish-red);
	font-weight: 600;
}

.flex {
	display: flex;
}

.hidden {
	opacity: 0;
}

.header {
	padding: 1.5rem 0;
}

.header__logo {
	transform: scale(0.75);
	transform-origin: left center;
}

.hero-mobile {
	background-image: url('./images/hero-mobile.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 252px;
	width: 100%;
}

.hero-desktop {
	display: none;
}

.main {
	text-align: center;
	padding: 4em 0 6em;
}

.main__title {
	text-transform: uppercase;
	font-size: 2.75rem;
	font-size: clamp(2.75rem, 5vw + 1rem, 4rem);
	font-weight: 300;
	line-height: 1.1;
	letter-spacing: 0.25em;
	max-width: 10ch;
	margin: 0 auto;
}

.main__body {
	font-size: 0.9rem;
	font-size: clamp(0.9rem, 1vw + 0.1rem, 1rem);
	max-width: 45ch;
	margin: 1em auto 0;
}

.form {
	position: relative;
	margin: 2.5em auto 0;
	max-width: 28rem;
}

.form__input {
	border: 1px solid var(--desaturated-red);
	border-radius: 100px;
	background-color: transparent;
	padding: 1em 1.5em;
	flex: 1;
	color: var(--dark-grayish-red);
}

.form__input::placeholder {
	color: var(--desaturated-red);
}

.form__input:focus:invalid {
	border: 2px solid var(--soft-red);
}

.form__input:focus:invalid + .error-icon,
.form__input:focus:invalid ~ .error-message {
	opacity: 1;
}

.form__input:valid + .error-icon,
.form__input:valid ~ .error-message {
	opacity: 0;
}

.form__btn {
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	border: none;
	border-radius: 100px;
	background: var(--gradient-btn);
	background-size: 300%;
	background-position: 50%;
	cursor: pointer;
	padding: 0 10%;
	box-shadow: 0 10px 15px 5px rgba(206, 151, 151, 0.3);
	transition: background 150ms linear;
}

.form__btn:hover,
.form__btn:focus {
	background-position: 0%;
}

.form__btn:active {
	transform: translateX(1px);
}

.error-icon {
	position: absolute;
	top: 50%;
	right: 25%;
	transform: translateY(-50%);
	transition: opacity 250ms ease-in-out;
}

.error-message {
	position: absolute;
	bottom: -1.75em;
	left: 1.65em;
	font-size: 0.9rem;
	font-weight: 600;
	color: var(--soft-red);
	transition: opacity 250ms ease-in-out;
}

@media only screen and (min-width: 48em) {
	body {
		background-color: var(--gradient-bg);
		display: flex;
	}

	.wrapper {
		width: 60%;
		background-image: url('./images/bg-pattern-desktop.svg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: left;
	}

	.container {
		max-width: 31.25rem;
	}

	.hero-mobile {
		display: none;
	}

	.hero-desktop {
		background-image: url('./images/hero-desktop.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: block;
		width: 40%;
	}

	.header {
		padding: 4rem 0;
	}

	.header__logo {
		transform: scale(1);
	}

	.main {
		text-align: left;
	}

	.main__title,
	.main__body,
	.form {
		margin-left: 0;
		margin-right: 0;
	}

	.main__title {
		margin-top: 0.5em;
	}
}
